
.power-systems-section{
    margin-top: 1100px;
}
.air-systems-section{
    margin-top: 200px;
}
.lifting-equipments-section{
    margin-top: 200px;
}
.productc-for-rent-footer{
    margin-top: 650px;
}
@media (max-width:1024px){
    .power-systems-section{
        margin-top: 2120px;
    }
    .air-systems-section{
        margin-top: 200px;
    }
    .lifting-equipments-section{
        margin-top: 580px;
    }
    .productc-for-rent-footer{
        margin-top: 910px;
    }
}
@media (max-width:820px){
    .power-systems-section{
        margin-top: 2120px;
    }
    .air-systems-section{
        margin-top: 200px;
    }
    .lifting-equipments-section{
        margin-top: 580px;
    }
    .productc-for-rent-footer{
        margin-top: 885px;
    }
}
@media (max-width:760px){
    .power-systems-section{
        margin-top: 2120px;
    }
    .air-systems-section{
        margin-top: 200px;
    }
    .lifting-equipments-section{
        margin-top: 580px;
    }
    .productc-for-rent-footer{
        margin-top: 875px;
    }
}
@media (max-width:600px){
    .power-systems-section{
        margin-top: 4240px;
    }
    .air-systems-section{
        margin-top: 550px;
    }
    .lifting-equipments-section{
        margin-top: 910px;
    }
    .productc-for-rent-footer{
        margin-top: 2020px;
    }
}