.latest-news-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.prev{
  transform: scale(0.9);
}
.prev:hover{
  transform: scale(1);
}
.next{
  transform: scale(0.9);
}
.next:hover{
  transform: scale(1);
}
@media (max-width: 600px) {
  .latest-news-button {
    gap: 10px;
    width: 30px;
    margin-right: 20px;
  }
}
