.latest-news-button{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 15px !important;
}
@media only screen and (max-width : 600px){
    .latest-news-button{
        gap: 10px;
        margin-top: 60px;
        width: 30px;
    }
}