.latest-news-container{
    background-color: #f9f9f9;
    padding: 100px 200px;
}
.latest-news-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prev-btn{
    color: #e7151a;
    background-color: #eeeeee;
    font-size: 30px;
    /* padding: 10px 20px; */
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
    border: 1px solid #d2d2d2;
}
.next-btn{
    color: #e7151a;
    background-color: #eeeeee;
    font-size: 30px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    border: 1px solid #d2d2d2;
}
.latest-news-head h2{
    font-size: 36.13px;
    font-weight: 700;
    line-height: 45px;
    color: #243584 ;
}

.latest-news-cards{
    margin-top: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.swiper-button-prev::after{
    color: #e7151a !important;
    padding: 50px !important;
    content: none !important;
}
.swiper-button-next::after{
  color: #e7151a !important;
  padding: 50px !important;
  content: none !important;
}
@media only screen and (max-width : 1024px){
    .latest-news-container{
        padding: 100px 100px;
    }
    .latest-news-cards{
        margin-top: 55px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width : 768px){
    .latest-news-container{
        padding: 20px 30px;
    }
}
@media only screen and (max-width : 640px){
    .latest-news-container{
        padding: 20px 20px;
        width: 375px;
    }
}