.more-about-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 200px;
    width: 100%;
}
.more-about-btn p{
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

@media (max-width : 1024px){
    .more-about-btn{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 100%;
        padding: 20px 50px;
    }
    .more-about-btn p{
        font-size: 16px;
        font-weight: 400;
        text-wrap: wrap;
        width: 70%;
        color: #000;
    }
}
@media (max-width : 820px){
    .more-about-btn{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 20px 30px;
    }
}
@media (max-width : 768px){
    .more-about-btn{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 20px;
    }
}
@media (max-width : 600px){
    .more-about-btn{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin: auto;
        width: 100%;
        padding: 20px;
    }
    .more-about-btn p{
        font-size: 16px;
        font-weight: 400;
        text-wrap: wrap;
        width: 100%;
        color: #000;
        margin-bottom: 20px;
    }
}
