.power-systems-container {
  display: flex;
  flex-direction: column;
  position: relative;
  position: relative;
  width: 100%;
}
.power-systems {
  background-color: #243584;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 54px;
  width: 35%;
  height: 301px;
  margin-bottom: 100px;
}
.power-systems h4 {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
}
.power-systems-list {
  width: 100%;
  height: 250px;
  position: absolute;
  top: 170px;
  left: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}
.power-systems-button {
  position: absolute;
  right: 200px;
  top: 50px;
}
@media (max-width: 1024px) {
  .power-systems-list {
    width: 100%;
    top: 130px;
    left: 30px;
  }
  .power-systems {
    padding: 54px 30px;
    width: 50%;
    height: 301px;
  }
  .power-systems-button {
    right: 50px;
    top: 50px;
  }
}
@media (max-width: 820px) {
  .power-systems-list {
    width: 100%;
    top: 130px;
    left: 30px;
  }
  .power-systems {
    padding: 54px 30px;
    width: 50%;
    height: 301px;
  }
  .power-systems-button {
    right: 50px;
    top: 50px;
  }
  .power-systems h4 {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  .power-systems-list {
    width: 100%;
    top: 130px;
    left: 30px;
  }
  .power-systems {
    padding: 54px 30px;
    width: 55%;
    height: 200px;
  }
}
@media (max-width: 600px) {
  .power-systems-container {
    margin-top: 30px;
  }
  .power-systems {
    padding: 20px;
  }
  .power-systems-list {
    width: 100%;
    top: 190px;
    left: 5%;
  }
  .power-systems-button {
    right: 60px;
    top: 120px;
  }
  .power-systems {
    width: 100%;
    height: 301px;
    padding: 50px;
  }
  .power-systems h4 {
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
  }
}
