.related-product-slide{
    background-color: var(--white);
    border-radius: 10px;
    width: 333px;
    height: 340px;
    box-shadow: 0px 3px 36px 0px rgba(0, 0, 0, 0.08);
    position: relative;
}
.related-product-slide, .active-border {
    width: 348px;
    height: 350px;
    border: 2px solid var(--lavaRed);
    transform: translateY(5px);
    transition: .1s ease;
    border-radius: 10px;
    
}